$primaryColor: rgb(88, 15, 17);
$secondaryColor: rgb(254,171,84);
$bgColor: #efefff;
$lightColor: #ffc564;
$auxGradientColor: linear-gradient(to bottom right, #fff,  rgba(254, 142, 84, .4) 80%);
$textColor: #121212;
$linksColor: #8b181b;