@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

@import 'variables';
@import 'slick';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;

  @media (max-width: 1400px) {
    font-size: 1rem;
  }
}

section {
  padding: 5rem 7rem 5rem 9rem;
  background: $bgColor;

  @media(max-width: 960px) {
    padding: 4rem;
    padding-left: 5rem;
  }

  @media(max-width: 768px) {
    padding: 2rem;
    padding-top: 7rem;
  }
}

h1.section-title {
  margin-bottom: 4rem;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 900;
  position: relative;
  display: inline-flex;
  justify-content: center;

  &::after {
    content: '';
    position: absolute;
    width: 30%;
    height: 5px;
    background: $primaryColor;
    bottom: -1rem;
    right: 0;
  }

  @media (max-width: 768px) {
    text-align: center !important;
    font-size: 2.5rem;
    display: flex;

    &::after {
      right: auto;
    }
  }
}

b {
  font-weight: 500;
}

.slick-slide {
  padding: 5px 20px;
}